<router-outlet></router-outlet>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Made with <strong>Angular and Bulma</strong> by
      <strong>Fernando Seliputra</strong>
    </p>

    <div class="content">
      <button mat-icon-button class="button is-large link">
        <span class="icon is-large">
          <a
            href="https://www.linkedin.com/in/fernando-seliputra-4a18481a3/"
            target="_blank"
            class="fab fa-linkedin-in"
          ></a>
        </span>
      </button>
      <button mat-icon-button class="button is-large link">
        <span class="icon is-large">
          <a
            href="https://github.com/FernandoSeli/"
            target="_blank"
            class="fab fa-github"
          ></a>
        </span>
      </button>
    </div>
  </div>
</footer>
