$toolbar-height: 60px;

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  padding: 0px 20px;
  height: $toolbar-height;

  button.is-active {
    border-bottom: 5px solid white;
  }
}

mat-sidenav {
  padding-top: $toolbar-height;
  width: 100%;

  div.content {
    height: 100%;
    button.list {
      margin: 0px;
      width: 100%;
      // border: 10px transparent;
    }
    button.link {
      margin: 20px;
    }
  }
}

section.hero {
  padding-top: $toolbar-height;
}
