<mat-toolbar
  [@toggle]="isVisible ? 'visible' : sideNav.opened ? 'visible' : 'hidden'"
  color="accent"
>
  <div class="columns is-gapless" style="width: 100%;">
    <div class="column is-hidden-mobile">
      <!-- <button (click)="scrollToAboutMe()" mat-button class="button is-medium is-primary action"
        [class.is-active]="currentActive === 1">
        About Me
      </button>
      <button (click)="scrollToProjects()" mat-button class="button is-medium is-primary action"
        [class.is-active]="currentActive === 2">
        Projects
      </button>
      <button (click)="scrollToTechnologies()" mat-button class="button is-medium is-primary action"
        [class.is-active]="currentActive === 3">
        Technologies
      </button>
      <button (click)="scrollToContact()" mat-button class="button is-medium is-primary action"
        [class.is-active]="currentActive === 4">
        Contact
      </button> -->
      <button
        mat-button
        class="button is-medium is-primary action"
        (click)="navToHome()"
      >
        Home
      </button>

      <button mat-button class="button is-medium is-primary action">
        Blog
      </button>
    </div>
    <div class="column .is-narrow is-hidden-mobile">
      <button mat-button class="button is-medium is-pulled-right link">
        <a
          href="https://www.linkedin.com/in/fernando-seliputra-4a18481a3/"
          target="_blank"
        >
          <span class="icon is-small">
            <i class="fab fa-linkedin-in"></i>
          </span>
        </a>
      </button>
      <button mat-button class="button is-medium is-pulled-right link">
        <a href="https://github.com/FernandoSeli/" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-github"></i>
          </span>
        </a>
      </button>
    </div>
    <div class="column is-hidden-tablet">
      <button
        mat-icon-button
        class="button is-medium is-primary is-pulled-right action"
        (click)="sideNav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sideNav
    [autoFocus]="false"
    [fixedInViewport]="true"
    (window:resize)="checkSideNav()"
    mode="over"
  >
    <div class="content has-text-centered has-background-primary">
      <div class="columns is-gapless is-desktop is-hidden-tablet">
        <div class="column">
          <button
            mat-button
            (click)="navToHome(); sideNav.close()"
            class="button is-large is-primary list"
          >
            Home
          </button>
        </div>
        <div class="column">
          <button
            mat-button
            (click)="sideNav.close()"
            class="button is-large is-primary list"
          >
            Blog
          </button>
        </div>
        <!-- <div class="column">
          <button
            mat-button
            (click)="sideNav.close()"
            class="button is-large is-primary list"
          >
            Projects
          </button>
        </div>
        <div class="column">
          <button
            mat-button
            (click)="sideNav.close()"
            class="button is-large is-primary list"
          >
            Technologies
          </button>
        </div>
        <div class="column">
          <button
            mat-button
            (click)="sideNav.close()"
            class="button is-large is-primary list"
          >
            Contact
          </button>
        </div> -->
        <div class="column">
          <button mat-icon-button class="button is-large link">
            <span class="icon is-medium">
              <a
                href="https://www.linkedin.com/in/fernando-seliputra-4a18481a3/"
                target="_blank"
                class="fab fa-linkedin-in"
              ></a>
            </span>
          </button>
          <button
            href="https://github.com/FernandoSeli/"
            mat-icon-button
            class="button is-large link"
          >
            <span class="icon is-medium">
              <a
                href="https://github.com/FernandoSeli/"
                target="_blank"
                class="fab fa-github"
              ></a>
            </span>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="hero is-primary is-medium is-bold main">
      <div class="hero-body background-computer">
        <div class="container has-text-centered">
          <h1 class="title">Detailed Explanations on My Projects</h1>
          <h2 class="subtitle">and other ramblings</h2>
        </div>
      </div>
    </section>
    <div class="container">
      <!-- START ARTICLE FEED -->
      <section class="articles">
        <div class="column is-8 is-offset-2">
          <!-- START ARTICLE -->
          <div #entry id="cicd" class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">
                    CI/CD Pipeline for an Angular Application
                  </p>
                  <p class="subtitle is-6 article-subtitle">
                    Philips Medical System Böblingen GmbH
                  </p>
                  <div class="tags level-item">
                    <span class="tag is-rounded">TFS</span>
                    <span class="tag is-rounded">Gherkin</span>
                  </div>
                </div>
              </div>
              <div class="content article-body">
                <p>
                  Non arcu risus quis varius quam quisque. Dictum varius duis at
                  consectetur lorem. Posuere sollicitudin aliquam ultrices
                  sagittis orci a scelerisque purus semper.
                </p>
                <p>
                  Metus aliquam eleifend mi in nulla posuere sollicitudin
                  aliquam ultrices. In hac habitasse platea dictumst vestibulum
                  rhoncus est pellentesque elit. Accumsan lacus vel facilisis
                  volutpat. Non sodales neque sodales ut etiam. Est pellentesque
                  elit ullamcorper dignissim cras tincidunt lobortis feugiat
                  vivamus.
                </p>
                <h3 class="has-text-centered">
                  Test
                </h3>
                <p>
                  Voluptat ut farmacium tellus in metus vulputate. Feugiat in
                  fermentum posuere urna nec. Pharetra convallis posuere morbi
                  leo urna molestie. Accumsan lacus vel facilisis volutpat est
                  velit egestas. Fermentum leo vel orci porta. Faucibus interdum
                  posuere lorem ipsum.
                </p>
              </div>
            </div>
          </div>
          <!-- END ARTICLE -->
          <!-- START ARTICLE -->
          <div #entry id="fullStack" class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">
                    Full Stack Development
                  </p>
                  <p class="subtitle is-6 article-subtitle">
                    Philips Medical System Böblingen GmbH
                  </p>
                  <div class="tags level-item">
                    <span class="tag is-rounded">Angular</span>
                    <span class="tag is-rounded">ASP.NET</span>
                    <span class="tag is-rounded">TFS</span>
                    <span class="tag is-rounded">MSSQL</span>
                  </div>
                </div>
              </div>
              <div class="content article-body">
                <p>
                  Non arcu risus quis varius quam quisque. Dictum varius duis at
                  consectetur lorem. Posuere sollicitudin aliquam ultrices
                  sagittis orci a scelerisque purus semper.
                </p>
                <p>
                  Metus aliquam eleifend mi in nulla posuere sollicitudin
                  aliquam ultrices. In hac habitasse platea dictumst vestibulum
                  rhoncus est pellentesque elit. Accumsan lacus vel facilisis
                  volutpat. Non sodales neque sodales ut etiam. Est pellentesque
                  elit ullamcorper dignissim cras tincidunt lobortis feugiat
                  vivamus.
                </p>
                <h3 class="has-text-centered">
                  Test
                </h3>
                <p>
                  Voluptat ut farmacium tellus in metus vulputate. Feugiat in
                  fermentum posuere urna nec. Pharetra convallis posuere morbi
                  leo urna molestie. Accumsan lacus vel facilisis volutpat est
                  velit egestas. Fermentum leo vel orci porta. Faucibus interdum
                  posuere lorem ipsum.
                </p>
              </div>
            </div>
          </div>
          <!-- END ARTICLE -->
          <!-- START ARTICLE -->
          <div #entry id="neural" class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">
                    Neural Network for Digit Recognition
                  </p>
                  <p class="subtitle is-6 article-subtitle">
                    Hochschule Esslingen
                  </p>
                  <div class="tags level-item">
                    <span class="tag is-rounded">Scilab</span>
                    <span class="tag is-rounded">MATLAB</span>
                  </div>
                </div>
              </div>
              <div class="content article-body">
                <p>
                  Non arcu risus quis varius quam quisque. Dictum varius duis at
                  consectetur lorem. Posuere sollicitudin aliquam ultrices
                  sagittis orci a scelerisque purus semper.
                </p>
                <p>
                  Metus aliquam eleifend mi in nulla posuere sollicitudin
                  aliquam ultrices. In hac habitasse platea dictumst vestibulum
                  rhoncus est pellentesque elit. Accumsan lacus vel facilisis
                  volutpat. Non sodales neque sodales ut etiam. Est pellentesque
                  elit ullamcorper dignissim cras tincidunt lobortis feugiat
                  vivamus.
                </p>
                <h3 class="has-text-centered">
                  Test
                </h3>
                <p>
                  Voluptat ut farmacium tellus in metus vulputate. Feugiat in
                  fermentum posuere urna nec. Pharetra convallis posuere morbi
                  leo urna molestie. Accumsan lacus vel facilisis volutpat est
                  velit egestas. Fermentum leo vel orci porta. Faucibus interdum
                  posuere lorem ipsum.
                </p>
              </div>
            </div>
          </div>
          <!-- END ARTICLE -->
        </div>
      </section>
      <!-- END ARTICLE FEED -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
