$corner-bevel: 100;
$max-width-name-container: 430px;
$margin-left-right: 15%;
section.background-me {
  background-image: url("../../assets/photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 100%;
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  div.hero-body {
    background-color: white;
    opacity: 0.7;
    div.container {
      margin-top: 15px;
      margin-bottom: 15px;
      h1 {
        line-height: 40px;
        border-bottom: 2px solid black;
      }
    }
  }
}

section.about-me-section {
  position: relative;

  div.section-heading.about-me {
    padding: 30px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }

  section.projects {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 2px #f8f8f8;
  }
  div.about-me-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }
}

svg.bottom {
  position: absolute;
  bottom: 0;
  display: block;
}

section#contact {
  max-width: 650px;
  margin: auto;
  .form {
    width: 100%;
    display: inline-table;
    .full-width {
      width: 100%;
      margin: 10px 0px;
    }
  }
}

// for bigger than desktop
@media (min-width: 600px) {
  div.section-heading.about-me,
  section.projects {
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
  }
}

@media (min-width: 968px) {
  div.hero-body {
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
    position: absolute;
    right: 0;
    height: 100%;

    div.container {
      max-width: $max-width-name-container;
      h1 {
        margin-left: 20px;
        padding-bottom: 25px;
      }
    }
  }
}

@media (max-width: 968px) {
  div.hero-body {
    max-height: 50%;
    min-height: 35%;
    position: absolute;
    bottom: 0;
    width: 100%;

    div.container {
      max-width: $max-width-name-container;
      h1 {
        padding-bottom: 15px;
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 720px) and (orientation: portrait) {
  section.background-me {
    background-image: url("../../assets/photoSmallPortrait.jpg");
  }
}

@media (max-width: 510px) {
  div.hero-body {
    div.container {
      h1 {
        font-size: 41px;
      }
    }
  }
}

@media (max-width: 390px) {
  div.hero-body {
    div.container {
      h1 {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 350px) {
  div.hero-body {
    div.container {
      h1 {
        font-size: 29px;
      }
    }
  }
}

//

// app-home{
//   scroll-snap-type: y mandatory;
//   // scroll-padding-top: 150px;
//   overflow-y: scroll;

// }
