<section class="hero background-me">
  <div class="hero-body has-text-centered">
    <div class="container ">
      <h1 class="title is-1 is-spaced has-text-centered">
        <h4 class="subtitle is-6 is-size-7-mobile has-text-left">
          Hi, I am
        </h4>

        Fernando Seliputra
      </h1>
      <h2 class="subtitle is-5 is-size-6-mobile has-text-centered">
        Stuttgart-Based Software Engineer
      </h2>
    </div>
  </div>
</section>

<section #aboutMe class="section about-me-section">
  <div class="section-heading has-text-centered about-me">
    <h3 class="title is-2">About Me</h3>
    <h4 class="subtitle is-5">Jack of all trades, experienced in some</h4>
    <div class="container ">
      <p>
        I am an Indonesian currently studying in my last semester for my
        <strong>Software Engineering</strong> bachelor's degree in Esslingen
        University of Applied Science. I worked at Philips Medical System in
        Böblingen for 1.5 years as
        <strong>intern, working student and bachelor's degree candidate</strong
        >. In Philips I was employed as a full stack developer for an internal
        web application as a full stack developer.
      </p>
      <p>
        I've also delved in Agile and DevOps practices as well as the PLMS Azure
        DevOps. Although my professional working experience was as a full stack
        developer, I am always open to learning new things from other sectors
        such as AI and app development.
      </p>
      <p>
        Sometimes I also program small personal projects and lift weights for
        fun :). Other than English, Indonesian and German I'm also fluent in
      </p>

      <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/cSharp.png" />
          </figure>
        </div>
        <!-- <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="assets/.Net.png" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="assets/microsoftSql.png" />
            </figure>
          </div> -->
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/html-5.png" />
          </figure>
        </div>
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/css.png" />
          </figure>
        </div>
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/sass.png" />
          </figure>
        </div>
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/javascript.png" />
          </figure>
        </div>
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/typescript.png" />
          </figure>
        </div>
        <div class="column is-narrow">
          <figure class="image is-64x64">
            <img src="./assets/angular.png" />
          </figure>
        </div>
      </div>
    </div>
  </div>

  <section class="section projects">
    <div class="section-heading">
      <h3 class="title is-2 has-text-centered">Projects</h3>
      <h4 class="subtitle is-5 has-text-centered">
        Some of the projects I've done
      </h4>
      <div class="container">
        <div class="columns is-multiline features">
          <div class="column is-half ">
            <div class="card is-shady">
              <header class="card-header">
                <p class="card-header-title">
                  <span>CI/CD Pipeline Development</span>
                  <span class="is-pulled-right">
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img
                    src="./assets/javascript.png"
                    alt="Cards template screenshot"
                  />
                </figure>

                <p>
                  Purus semper eget duis at tellus at urna condimentum mattis.
                  Non blandit massa enim nec. Integer enim neque volutpat ac
                  tincidunt vitae semper quis. Accumsan tortor posuere ac ut
                  consequat semper viverra nam.
                </p>
                <p><a href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="column is-half ">
            <div class="card is-shady">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Web Application</span>
                  <span class="">
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img
                    src="./assets/javascript.png"
                    alt="Cards template screenshot"
                  />
                </figure>

                <p>
                  Purus semper eget duis at tellus at urna condimentum mattis.
                  Non blandit massa enim nec. Integer enim neque volutpat ac
                  tincidunt vitae semper quis. Accumsan tortor posuere ac ut
                  consequat semper viverra nam.
                </p>
                <p><a href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card is-shady">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Neural Network</span>
                  <span class="is-pulled-right">
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img
                    src="./assets/javascript.png"
                    alt="Cards template screenshot"
                  />
                </figure>

                <p>
                  Purus semper eget duis at tellus at urna condimentum mattis.
                  Non blandit massa enim nec. Integer enim neque volutpat ac
                  tincidunt vitae semper quis. Accumsan tortor posuere ac ut
                  consequat semper viverra nam.
                </p>
                <p><a href="#">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="about-me-background">
    <svg
      class="upper"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#fff"
        fill-opacity="0.9"
        d="M0,32L80,42.7C160,53,320,75,480,85.3C640,96,800,96,960,133.3C1120,171,1280,245,1360,282.7L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
      ></path>
    </svg>
    <svg
      class="bottom"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#fff"
        fill-opacity="0.9"
        d="M0,32L80,42.7C160,53,320,75,480,85.3C640,96,800,96,960,133.3C1120,171,1280,245,1360,282.7L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </div>
</section>

<section id="contact" class="section has-text-centered ">
  <div class="section-heading about-me">
    <h3 class="title is-2">Contact</h3>
    <h4 class="subtitle is-5">
      Send me a message
    </h4>
  </div>
  <div *ngIf="formSubmitted" class="notification is-info">
    <p class="is-size-4">Message Sent Successfully</p>
  </div>
  <form [formGroup]="contactForm" class="form has-text-centered contact-column">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        [errorStateMatcher]="matcher"
        placeholder="Mr. John Johnson"
        value=""
      />
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="example@gmail.com"
        value=""
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Leave a message</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        formControlName="message"
      ></textarea>
      <mat-error *ngIf="messageFormControl.hasError('required')">
        Message is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="has-text-left">
    <button
      mat-button
      class="button is-medium is-success action"
      (click)="submitForm()"
    >
      <span class="icon">
        <i class="fas fa-envelope"></i>
      </span>
      <span>Send</span>
    </button>
  </div>
</section>
